html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
}

.banner-content {
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
}
